
body {
    font: 12px/1.5 Tahoma,'\5FAE\8F6F\96C5\9ED1','Microsoft Yahei',"hiragino sans gb", Helvetica, Arial, "\5b8b\4f53", 'sans-serif';
    color: #333;
    min-height: 2000px;
	padding-top: 70px;
	background-color: #aba1a1;
}
html, body, ul{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.classify{
	font-size: 30px;
	font-weight: 200;
font-family: "Flama",Helvetica,Arial,Verdana,sans-serif;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
text-transform: uppercase;
color: #aaa;
	left:15%;



}

h3{
    font-weight: normal;
    font-size: 100%;
}

h2{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

:focus {
    outline: 0;
}
ul, ol {
    list-style: none;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, i, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
code, kbd, samp, tt {
    font-size: 100%;
}
input, button, textarea, select {
    *font-size: 100%;
    outline: none;
}
textarea {
    resize: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
a {
	font-family: Papyrus, fantasy;
    color: rgba(48,45,48,0.49);
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
a:hover {
    color: #690;
    text-decoration: none;
}
a.special, .special a {
    color: #690;
}
a.special:hover, .special a:hover {
    color: #390;
    text-decoration: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
.overflow {
    overflow: hidden;
    *zoom: 1;
}
body {
    background-color: #fff;
}

.index_focus {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;

}
.index_focus .bd li {  
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.index_focus_post {
    z-index: 10;
}
.index_focus .pic {
    height: auto;
    display: block;
}
.index_focus .pic:hover {
    text-decoration: none;
}
.index_focus .slide_nav {
    position: absolute;
    left: 45%;
    bottom:2%;

}
.index_focus .slide_nav a {
	cursor:pointer;
	float:left;
    font-size:28px;
    font-family: arial;
    color: #fff;
	padding:5px 10px;
}
.index_focus .slide_nav li:hover,.index_focus .slide_nav .on{text-decoration: none;color: #9c0;filter: alpha(opacity=80);opacity: 0.8;}
.index_focus_pre,.index_focus_next {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -36px;
    width: 72px;
    height: 72px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 10;
    background: url(images/ico_sliding.png) no-repeat;
}
.index_focus_pre {
    left: 30px;
    background-position: 0 0;
}
.index_focus_pre:hover {
    background-position: 0 -144px;
}
.index_focus_next {
    right: 30px;
    background-position: 0 -72px;
}
.index_focus_next:hover {
    background-position: 0 -216px;
}
.index_focus_info {
    position: absolute;
    left: 10%;
    bottom: 30%;
    width: 800px;
    height: 300px;
    padding-bottom: 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: "\5fae\8f6f\96c5\9ed1";
    -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    background: url("../images/index_focus_bg.png") no-repeat;
    _background: none;
}
.index_focus_info h3 {
    font-size: 36px;
    line-height: 70px;
    font-family: \5fae\8f6f\96c5\9ed1, \u9ed1\u4f53, "Lucida Grande";
	display:none;
}
.index_focus_info .text {
    width: 500px;
    line-height: 24px;
    font-size: 14px;
    word-wrap: break-word;
    overflow: hidden;
	display:none;
}

/* photo */

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.button_01 a{
	display: block;
	width: 122px;
	height: 30px;
	padding: 7px 0 0 ;
	
	color: #333;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(images/templatemo_button_hover.jpg) no-repeat;
}

.button_01 a:hover {
	background: url(images/templatemo_button.jpg) no-repeat;
}


.image_wrapper{
	margin-top: 3px;
	margin-bottom: 5px;
	border: 5px solid #e8e8e8;
	padding: 1px;
	background: #fff;
}



.margin_r40 { margin-right: 40px; }

.margin_r_20 { margin-right: 20px; }

.margin_r_80 { margin-right: 80px; }




/* content */

#templatemo_content {
	width: 960px;
	margin: 0 auto;
	padding: 30px 10px;
	background: #ffffff;
}

.product_box {
	float: left;
	width: 210px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #999;
}

.thumb_wrapper {
	width: 198px;
	height: 158px;
	padding: 6px;
	background:  url(images/templatemo_thumb_frame.png) no-repeat;
}

product_box .thumb_wrapper img {
	width: 198px;
	height: 146px;
}

.product_box a {
	text-decoration: none;
}

.product_box a:hover {
	text-decoration: none; 
}

.product_box h3 {
	padding: 0px;
	margin: 0px;
	height: 20px;
	font-size: 14px;
	color: #07f576;
	border-top: 1px solid #76da11;
	background: url(images/templatemo_product_box_title_bg.jpg) repeat-x;
}

.product_box p {
	color: #666666;
	font-weight: normal;
}


/*navigation*/
            .navig{

                background: url("images/global_nav_bg.png") repeat-x scroll 0 0 transparent;
                height: 100px;

                width: 100%;

                z-index: 9998;

                position: fixed;
                left: 0px;
            }
.top{

                top: 0px;

            }
            .bottom{
                bottom: 0px;
            }
.navig ul{
				font-family:"Flama",Helvetica,Arial,Verdana,sans-serif;
                display: inline;
                float: left;
                font-size: 16px;
                margin: 0 0 0 10%;
            }
.navig ul li{
                list-style: none outside none;             
                padding: 0 0 0 2px;
                display: inline;
                float: left;
                position: relative;
                z-index: 9998;
                color: #FFFFFF;
                display: inline-block;
                height: 20px;
                line-height: 20px;
                padding: 9px 10px 8px;
            }
ul li a:active, ul li a:link, ul li a:visited{
                color: #ffffff;
                text-decoration: none;
            }
      
            ul li a:hover{
                color: #ff6300;
                text-decoration: underline;
            }

/* search box */
#search {

}

#search input[type="text"] {
    background: url("images/search-white.png") no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 180px;
    } 
    
    
/*play button*/
.itemsContainer { 
   
    position:relative
}
.itemsContainer:hover .play{display:block}
.play{
  position : absolute;
    display:none;
    top:30%; 
    width:40px;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100
}    
