
body {
    font: 12px/1.5 Tahoma,'\5FAE\8F6F\96C5\9ED1','Microsoft Yahei',"hiragino sans gb", Helvetica, Arial, "\5b8b\4f53", 'sans-serif';
    color: #333;
    min-height: 2000px;
	padding-top: 70px;
	background-color: #aba1a1;
}
html, body, ul{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}



.classify{
	font-size: 30px;
	font-weight: 200;
font-family: "Flama",Helvetica,Arial,Verdana,sans-serif;
text-shadow: 0 1px 0 rgba(255,255,255,0.9);
text-transform: uppercase;
color: #aaa;
	left:15%;
}

h3{
    font-weight: normal;
    font-size: 100%;
}

h2{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

:focus {
    outline: 0;
}
ul, ol {
    list-style: none;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, i, th, var, optgroup {
    font-style: normal;
    font-weight: normal;
}
abbr, acronym {
    border: 0;
    font-variant: normal;
}
input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
code, kbd, samp, tt {
    font-size: 100%;
}
input, button, textarea, select {
    *font-size: 100%;
    outline: none;
}
textarea {
    resize: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
a {
	font-family: Papyrus, fantasy;
    color: rgba(48,45,48,0.49);
    text-decoration: none;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
a:hover {
    color: #690;
    text-decoration: none;
}
a.special, .special a {
    color: #690;
}
a.special:hover, .special a:hover {
    color: #390;
    text-decoration: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
.overflow {
    overflow: hidden;
    *zoom: 1;
}
body {
    background-color: #fff;
}



/* photo */

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.button_01 a{
	display: block;
	width: 122px;
	height: 30px;
	padding: 7px 0 0 ;
	
	color: #333;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(../images/templatemo_button_hover.jpg) no-repeat;
}

.button_01 a:hover {
	background: url(../images/templatemo_button.jpg) no-repeat;
}


.image_wrapper{
	margin-top: 3px;
	margin-bottom: 5px;
	border: 5px solid #e8e8e8;
	padding: 1px;
	background: #fff;
}



.margin_r40 { margin-right: 40px; }

.margin_r_20 { margin-right: 20px; }

.margin_r_80 { margin-right: 80px; }




/* content */

#templatemo_content {
	width: 960px;
	margin: 0 auto;
	padding: 30px 10px;
	background: #ffffff;
}

.product_box {
	float: left;
	width: 210px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #999;
}

.thumb_wrapper {
	width: 198px;
	height: 158px;
	padding: 6px;
	background:  url(../images/templatemo_thumb_frame.png) no-repeat;
}

product_box .thumb_wrapper img {
	width: 198px;
	height: 146px;
}

.product_box a {
	text-decoration: none;
}

.product_box a:hover {
	text-decoration: none; 
}

.product_box h3 {
	padding: 0px;
	margin: 0px;
	height: 20px;
	font-size: 14px;
	color: #07f576;
	border-top: 1px solid #76da11;
	background: url(images/templatemo_product_box_title_bg.jpg) repeat-x;
}

.product_box p {
	color: #666666;
	font-weight: normal;
}


    
/*play button*/
.itemsContainer { 
   
    position:relative
}
.itemsContainer:hover .play{display:block}
.play{
  position : absolute;
    display:none;
    top:30%; 
    width:40px;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100
}    
